<p style="color: green"><%= notice %></p>

<h1>Slides</h1>

<% json_data=Faraday.get(Faraday.get("https://content-out.bepress.com/v2/digital.kenyon.edu/query",{parent_key: '5047491'}, { 'Authorization' => 'MPqsb8Pd9+YxLgTIC638nB2h0m7vNjyIPzC009gUru8='}).env.response_headers['location']) %>
<div id="slides">
  <% @slides.each do |slide| %>
  <div class="slidegroup">
    <div class="img">
      <img class="med-img" src=<%= slide.download_link %> alt="<%=slide.title%> >
    <div>
    <div class="title">
      <%= slide.title %>
    </div>
  </div>
  <% end %>
</div>
