<% content_for :for_head do%>
<%=javascript_include_tag "pager" %>
<% end %>

<%= render partial: "pager", locals:{first:@start,last:@last,count:@count} %>

<h1> All Slides </h1>

<%= render partial: "layouts/previewlist", object:@previews, locals:{align:"center",customlist:@allIds} %>

<%= render partial: "pager", locals:{first:@start,last:@last,count:@count,bottom:true} %>

<script>
  animatePager()
</script>
