
#timeperiods,#allkeywords {
  margin-left: .5in;
}
#timeperiods h4,h5 {
  margin-left: .7in;
}

.period-list {
  margin-left: 1in;
}
.century-list {
  margin-left:1in;
  padding-bottom: .5in;
}

.keyword-container {
  text-align: center;
}

.keyword-item {
  white-space: nowrap;
  padding: .7em;
  overflow-wrap: break-word;
}

