$body-color: rgb(255 249 241);

div.prev-holder {
  background-color: $body-color;
}
div.prev-holder.align-left {
  justify-content:left;
}
div.prev-holder.align-center {
  justify-content:space-evenly;
}
a.card {
  border-width: 0px;
  text-decoration:none;
  background-color: $body-color;
}

div.card-body {
  background-color: $body-color;
}
