
div.search-about {
  padding: 15px 0px 0px 15px;
}

a.result-link {
  text-decoration: none;
  color: black;
}
div.row.search-result {
  padding: 10px 0px;
}

.search-result img {
  max-width: 30%;
}
.search-result img.vert {
  max-width: 20%;
  margin: 0px 5%;
}
.result-info {
  width: 70%
}

@media screen and (max-width:992px){
  .search-result img {
     max-width: 50%;
  } 
  .search-result img.vert {
     max-width: 34%;
     margin: 0px 8%;
  }
  .search-result .result-info {
     width: 50%;
  }
} 

@media screen and (max-width:769px){
  .row.search-result{
    flex-direction:column;
  }

  .search-result img {
    width: 80%;
    max-width: 80%;
    padding-bottom: 10px;
  }

  .search-result img.vert {
    max-width: 50%;
    max-height: 50vh;
    margin:0px;
  }

  .search-result .result-info {
    width: 100%;
  }
}

// autofill box
.search-dropdown-menu {
  background-color: white;
  margin-left: 1.6vw;
  padding-bottom: .75rem;
  position: relative;
  margin-right: .2in;
  border-radius: 6px;
  width: -webkit-fill-available;
  z-index: 3;
  margin-top: 10px;
}

.autofill.dropdown-item {
  border-radius: 6px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.autofill.dropdown-item:hover {
  background-color: #00000021;
}

@media (min-width:1200px) {
  .search-dropdown-menu {
    position: absolute;
  }
}

hr.thinline {
  margin: 2px 2px;
}
