
div.search-about {
  padding: 15px 0px 0px 15px;
}

a.result-link {
  text-decoration: none;
  color: black;
}
div.row.search-result {
  padding: 10px 0px;
}

.search-result img {
  max-width: 30%;
}
.search-result img.vert {
  max-width: 20%;
  margin: 0px 5%;
}
.result-info {
  width: 70%
}
