/* Constants */
$body-color: rgb(255 249 241);

/* Styles */
h1 {
  padding: .35in;
}

div.container {
  background-color: $body-color;
}

.pagination {
  justify-content: center;
}
a.page-link.pager {
  background-color: $body-color;
}
a.page-link.pager.active {
  color: black;
  background-color: rgb(235, 228, 219);
  border-color: black;
  border-top: hidden;
}
a.page-link.pager.bottom.active {
  color:white;
  background-color: purple;
}
