h1.yearitem {
  margin-left:20px;
  padding-left:0px;
  font-family: math;
}
.monthitem {
  margin-left:40px;
}
div.med-indent{
  margin-left: 32px;
}

.slide-group {
   height:400px;
   overflow-y:scroll;
}
