<h1> <%= @city.title %>, <a class="purple" href="/places/countries/<%=@city.country.id %>"> <%=@city.country.title %> </a> </h1>
<hr class=place-line">
<%= render partial: "layouts/previewlist", object: @city, locals:{align:"left"} %>
