<div class="pano-image">
  <% candidate=@country.getRandomImage %>
  <img class="candidate-image" src="<%=candidate.fullImgLink %>" alt="candidate.classification">
</div>

<h1 class="large-title"> <%= @country.title %> <span class="item-type"> Country </span></h1>
<div class='attribute-about'>
  <%= render @country %>
</div>

<%= render partial:'layouts/previewlist', object:@country, locals:{align:"left"} %>
