<h1 class="center"> About the Collection </h1>


<script>
  document.querySelector(".nav-link.active").classList.remove("active");
  document.getElementById("about-link").classList.add("active");
</script>
